snippet met "public method"
	public function ${1}(${2}): $3
	{
		${0}
	}

snippet pmet "protected method"
	protected function ${1}(${2}): $3
	{
		${0}
	}

snippet tmet "test method (annotation)"
	/** @test */
	public function ${1}()
	{
		${0}
	}
